*{
    margin:0;
    box-sizing:border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.container{
    width:1400px;
    margin:0 auto;
    padding: 8px;
}
.topbar{
    background-color: #f0f3f2;
}
.left{
    float: left;
    color:#5c6c75;
    font-size:15px;
    text-align: center;
    text-decoration:bold;
}
.right{
    float:right;
    color:#5c6c75;
    font-size:15px;
    text-align: center;
}
.clear{
    clear:both;
}
.right .down{
    transition: all 0.5px;
}
.right .down:hover{
    color:#5cca5c;
    cursor:pointer;
}
img{
    width:100%;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.logo{
    width:150px;
}
.search input{
    background-color: transparent;
    border:0px;
    font-size:16px;
    color:#5c6c75;
}
.search button{ 
    background-color:transparent;
    border:0px;
    float:right;
    font-size:16px;
    color:#5c6c75;
}
.search {
    border-radius:8px;  
    border:1px solid #dfe2e1;
    padding:10px;
    width:528px;
    margin-left:100px;
}
.location button{
    border:0px;
    background-color:transparent;
    width: 100px;
    font-size:16px;
    color:#5c6c75;
}
.location{
    border:1px solid #dfe2e1;
    border-radius:8px;
    padding:10px;
    margin-left:10px;
    transition: all 0.5s;
}
.location:hover{
    background-color: #c1c7c6;
    cursor:pointer;
}
.location i {
    float:left;
}
.icon span{
    font-size:20px;
    color:#5c6c75;
}
.all-dep{
    width:182px;
    background-color: #0aad0a;
    border:1px solid #0d7c0d;
    border-radius:8px;
    padding:8px;
}
.all-dep i{
    color:white;
    font-size:16px;
}
.all-dep button{
    font-size:16px;
    color:white;
    background-color:transparent;
    border:0px;
}
.navbtn{
    margin-left:10px;
    padding:10px;
    float:left;
}
.list .float-left:hover{
    color:green;
}
.s-head h2{
    font-size:35px;
    font-family: "Inter", sans-serif;
}
.s-head{
    background-color:#f0f3f2;
    border-radius: 10px;
    padding:40px;
}
.count-pro{
    width:150px;
    color:#5c6c75;
}
.sort{
    width:188px;
    background-color:#ffffff;
    padding : 8.8px 16px 8.8px 16px;
    border:1px solid  #dfe2e1;
    border-radius:5px;
}
.sort button{
    border:0;
    background-color:transparent;
    font-size:14px;
    color:#5c6c75;
}
.sort i {
    font-size:14px;
    color:#5c6c75;
}
.show {
    background-color:#ffffff;
    border:1px solid  #dfe2e1;
    width:129px;
    padding :8.8px 16px 8.8px 16px;
}
.show button{
    background-color:transparent;
    border:0px;
    font-size:14px;
    color:#5c6c75;
    font-style: bold;
}
.p-carde{
    width:273px;
    border:1px solid rgb(177, 172, 172);
    padding:25px;
    border-radius:10px;
    position: relative;
    margin: 12px;
    display: inline-block;
    transition: all 0.5s;
}
.p-carde:hover{
    border:#0aad0a;
    box-shadow: 0px 4px 10px #0aad0a;
}
.imag{
    width:220px;
    margin:0px  0px 12px;
    height: 220px;
}
.contain{
    color:#5c6c75;
    font-size:12px;
    margin:0px 0px 4px;
}
.title{
    color:#21313c;
    font-size: 14px;
    margin:0px 0px 8px;
}
.add-bar{
    margin:12px 0px 0px;
}
.rate {
    color: rgb(240, 197, 7);
}
.rate span{
    color:#5c6c75;
    font-size:12px; 
}
.num{
    color:#c1c7c6;
    text-decoration: line-through;
}
.add{
    background-color:#0aad0a;
    border:1px solid #0aad0a;
    border-radius:5px;
    padding:4px 8px;
}
.add button{
    color:white;
    font-size :12px;
    background-color:transparent;
    border:none;
}
.add i{
    color:white;
    font-size :12px;
}
.sale{
    color: white;
    font-size:12px;
    width:35px;
    background-color:red;
    position: absolute;
    top:25px;
    left:35px;
    border-radius:5px;
    padding:2px;
}
.green{
    color: white;
    font-size:12px;
    width:35px;
    background-color:rgb(52, 151, 7);
    position: absolute;
    top:25px;
    left:35px;
    border-radius:5px;
    padding:2px;
}